:root {
  --primary-yellow: hsl(47, 88%, 63%);
  --Neutral-white: hsl(0, 0%, 100%);
  --Neutral-grey: hsl(0, 0%, 50%);
  --Neutral-black: hsl(0, 0%, 7%);

  --ff-priamry: "Figtree", sans-serif;

  --fs-body: 1rem;
}
* {
  padding: 0;
  margin: 0;
  color: var(--Neutral-black);
  font-size: var(--fs-body);
  font-family: var(--ff-priamry);
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: clamp(375px, 100vw, 1440px);
  background: var(--primary-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card {
  background: var(--Neutral-white);
  width: min(90vw, 376px);
  padding: clamp(10px, 20px, 20px);
  border-radius: 20px;
  border: 1px solid var(--Neutral-black);
  box-shadow: 8px 8px 0 var(--Neutral-black);
  margin-bottom: 50px;
}
.card:hover {
  box-shadow: 15px 15px var(--Neutral-black);
}
.main-image {
  border-radius: 12px;
  position: relative;
  width: min(100%, 336px);
}
.container button {
  background: var(--primary-yellow);
  padding: 5px 10px;
  outline: none;
  border: 0;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 700;
  margin: 15px 0;
}
.container .publication-date {
  margin-bottom: 15px;
  color: var(--Neutral-black);
  font-size: 12px;
}
.container h1 {
  font-weight: 800;
  font-size: clamp(1.25rem, 2vw, 1.3rem);
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.container h1:hover {
  color: var(--primary-yellow);
}

.container p {
  color: var(--Neutral-grey);
  margin-bottom: 20px;
  line-height: 1.5;
}
.author {
  display: flex;
  align-items: center;
}
.author img {
  margin-right: 15px;
  width: 35px;
}
.author h3 {
  font-weight: 800;
}
.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 12px;
}
